.sectionTop{
    padding-top:10rem;
    position: relative;
    background-color: #008374;
    
}
.container{
    display: flex;
    width:100%;
}
.row{
    display: flex;
    color:white
}

.contentContainer{
    display: block;
    margin: 20px 23px;
}
.contentPara{
    color: rgba(255, 255, 255, 0.8);
   font-size:16px;
   max-width: 550px;
   padding-bottom: 48px;
}
.img-fluid{
    height:auto;
}
.contactPageBtn{
    background-color: #f85a40;
    color:#fff;
    border: 2px solid #f85a40;
    text-decoration: none;
    padding: 12px 30px;
    width:94px;
    height:24px;
    border-radius: 4px;
}
.contactPageBtn:hover{
    color:#fff;
    background-color: #008374;
    border: 2px solid #fff;
}