.maincontainer{
  padding:0px 104px;
  background-color: #008374;
}
.mainHeader{
  display:flex;
  justify-content: space-between;
  padding-top:20px;
  padding-bottom: 20px;
  background-color: #008374;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
.mainLogo{
  font-size: 24px;
  font-weight:700;
}
.mainLogo a{
  color: #fff;
  text-decoration: none;
}
.nav .navLinks{
  display: flex;
  font-size:14px;
  list-style-type: none;
}
.nav .navLinks li a{
  text-decoration: none;
  font-size: 14px;
}
.navItems{
  padding: 10px 15px;
  color:rgba(255, 255, 255, 0.7);
}
.dis{
  list-style-type: none;
  align-items: center;
  text-decoration: none;
  display: none;
  right: 20vw;
  position: absolute;
}
.dis:hover .divDisplay{
  display: block;
  transition-timing-function: ease-in;
  transition: 1s;
  top:-30px;
  width: 40vw;
  right:-180px;
}
.divDisplay{
  display: none;
  position:absolute;
  height: 200vh;
  z-index:200;
  background-color: white;
  color:black;
  top:-30px;
  width: 0vw;
  right:-130px;
}
.divDisplay ul{
  list-style-type: none;
  margin: 10%;
    padding: 5%;
  
}
.divDisplay ul li{
  color:black;
  margin: 0 auto;
  text-align: left;
  padding: 10px 0px;
}
.divDisplay ul li a:hover {
  color:#fd7e14
}
.navItems:hover{
  color:#fff;
}
.navItems:active{
  color:#fff
}

.dropdownContent{
  display: none;
  padding: 20px 0px;
  height:105px;
  width:170px;
  text-align: left;
  position: absolute;
  background-color: white;
  z-index: 99;
  top: 4rem;
  right: 35rem;
}
.dropdownContent ul{
  list-style-type: none;
  padding-left:0px;
}
.dropdownContent ul li a{
  display: block;
  z-index: 999;
  color:black;
  text-decoration: none;
  text-align: left;
  padding: 5px 20px;  
}

.dropdownContent2{
  display:none;
  padding: 20px 0px;
  height:105px;
  width:150px;
  text-align: left;
  position: absolute;
  opacity: 1;
  background-color: white;
  z-index: 99;
  top: 4rem;
  left: 10.5rem;
}
.dropdownContent2 ul{
  list-style-type: none;
  padding-left:0px;
}
.dropdownContent2 ul li a{
  display: block;
  z-index: 999;
  color:black;
  text-decoration: none;
  text-align: left;
  padding: 5px 20px;  
}


.dropDown:hover .dropdownContent{
  display: block;
}

.dropDown2:hover .dropdownContent2{
  display: block;
}

.dropdownContent ul:hover li{
  color:#fd7e14;
}
.dropdownContent ul li a:hover{
  color:#fd7e14;
} 


@media only screen and (max-width: 1000px) {
  .maincontainer{
    padding: 0px 2.5rem;
  }
  .mainHeader{
  display:flex;
  justify-content: space-between;
  padding-top:20px;
  padding-bottom: 20px 20px;
  margin: 0px 0px;
  background-color: #008374;
  width: 70%;
  }
  .mainHeader .nav{
    display: none;
  }
  .dis{
    display: block;
    }
  .dis a{
    text-decoration: none;
    color: white;
  }
  .divDisplay a{
    color:black
  }
}

@media only screen and (max-width: 760px) {
  .dis{
  display: block;
  }
  .dis a{
  text-decoration: none;
  color: white;
  }
  .divDisplay a{
    color:black
  }
  .dis a:active {

  }
}
