.maincontainer{
  padding:0px 104px;
  background-color: #008374;
}
.mainHeader{
  display:flex;
  justify-content: space-between;
  padding-top:20px;
  padding-bottom: 20px 20px;
  margin: 0px 0px;
  background-color: #008374;
}
.mainLogo{
  display: flex;
  font-size: 24px;
  font-weight:700;
}
.mainLogo a{
  color: #fff;
  text-decoration: none;
}
.nav .navLinks{
  font-size:14px;
  
  
}
.nav .navLinks a{
  text-decoration: none;
  font-size: 14px;
}
.navItems{
  padding: 10px 15px;
  color:rgba(255, 255, 255, 0.7);
}

.navItems:hover{
  color:#fff;
}
.navItems:active{
  color:#fff
}

.dropdownContent{
  padding: 20px 0px;
  height:100px;
  width:180px;
  text-align: left;
  position: absolute;
}
.dropdownContent button{
  text-decoration: none;
  color:black;
  background-color: white;
  z-index: 999;
  border:none;
  padding: 5px 20px;
  display: none;
  
}
.dropdownContent:hover{
  display: block;
}

.dropdownContent:active{
  display:block;
}
